.footer {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    padding: 30px;
    gap: 15px;
    background-color: #222222

}
.footer .box p{
    margin:15px 0;
}
.footer .box{
    -webkit-box-shadow: 11px 12px 6px -8px rgba(0,0,0,0.16);
    box-shadow: 11px 12px 6px -8px rgba(0,0,0,0.16);
}
.box button{
    color: rgb(238, 236, 236);
    background-color:rgb(7, 161, 105);
    font-size:15px;
    padding:3px;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    cursor: pointer;
    width: 90%;
    margin: 0 auto;
    display: block
}
.box button:hover{
    background-color:#31b675;
    color: #fff;

}
.box a,.box p {
    color:rgb(183, 180, 180);
    transition: all 0.3s ease-in-out;
}
.box h3{
    color:rgb(107, 105, 105);


}
.box input{
    width: 90%;
    margin:10px auto 15px auto;
    display: block;
}
.box a:hover{
    color: #31b675;
}
@media (max-width: 450px){
    .footer{
        padding:20px 10px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    }
}